/* You can add global styles to this file, and also import other style files */
$gutter: 1rem; //for primeflex grid system
@import "assets/layout/styles/layout/layout.scss";

/* PrimeNG */
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeflex/primeflex.scss";
@import "../node_modules/primeicons/primeicons.css";

@import "../node_modules/@fortawesome/fontawesome-free/css/all.min.css";
@import "../node_modules/@fortawesome/fontawesome-free/css/fontawesome.css";
@import "../node_modules/@fortawesome/fontawesome-free/css/brands.css";
@import "../node_modules/@fortawesome/fontawesome-free/css/solid.css";

.clamp-1 {
  -webkit-line-clamp: 1;
}

.clamp-2 {
  -webkit-line-clamp: 2;
}
.clamp-3 {
  -webkit-line-clamp: 3;
}

.clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.block-section {
  margin-bottom: 4rem;
}

.layout-main-container {
  padding-top: 6em;
}

.block-header {
  padding: 1rem 2rem;
  background-color: var(--surface-section);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border:1px solid var(--surface-border);
  display: flex;
  align-items: center;
  justify-content: space-between;

  .block-title {
      font-weight: 700;
      display: inline-flex;
      align-items: center;

      .badge-free {
          border-radius: 4px;
          padding: .25rem .5rem;
          background-color: var(--orange-500);
          color: white;
          margin-left: 1rem;
          font-weight: 700;
          font-size: .875rem;
      }
  }

  .block-actions {
      display: flex;
      align-items: center;
      justify-content: space-between;
      user-select: none;
      margin-left: 1rem;

      a {
          display: flex;
          align-items: center;
          margin-right: .75rem;
          padding: .5rem 1rem;
          border-radius: 4px;
          border: 1px solid transparent;
          transition: background-color .2s;
          cursor: pointer;

          &:last-child {
              margin-right: 0;
          }

          &:not(.block-action-disabled):hover {
              background-color: var(--surface-hover);
          }

          &.block-action-active {
              border-color: var(--primary-color);
              color: var(--primary-color);
          }

          &.block-action-copy {
              i {
                  color: var(--primary-color);
                  font-size: 1.25rem;
              }
          }

          &.block-action-disabled {
              opacity: .6;
              cursor: auto !important;
          }

          i {
              margin-right: .5rem;
          }
      }
  }
}

.block-content {
  padding: 0;
  border:1px solid var(--surface-border);
  border-top: 0 none;

  pre.app-code {
      background-color: var(--surface-card) !important;
      padding-bottom: 1rem !important;
      margin-bottom: 0 !important;

      code {
          padding: 1rem 2.5rem;
      }
  }
}

@media screen and (max-width: 575px) {
  .block-header {
      flex-direction: column;
      align-items: start;

      .block-actions {
          margin-top: 1rem;
          margin-left: 0;
      }
  }
}
